<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, <strong>{{name}}</strong>!</p>
  <p>A empresa <strong>{{enterprise}}</strong> está te chamando para se juntar ao Pally.</p>
  <p>Aqui você poderá se agendar nos serviços dela, nos horários que preferir, de onde você estiver usando seu celular.
  </p>
  <p>Faça login com as credenciais a seguir (troque sua senha na tela "meu perfil", dentro do Pally).</p>
  <p>email: <strong>{{email}}</strong></p>
  <p>senha: <strong>{{password}}</strong></p>
  <p>
    <a href="{{link}}">Acessar minha conta</a>
  </p>
  <p>Obrigado <br>
    <strong>Equipe Pally</strong>
  </p>
</div>
